<h2>Edit Group</h2>

<%= form_for @group do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.submit %>
<% end %>

<%= form_for @group, method: :delete do |f| %>
  <%= f.submit "Delete!", class: "delete" %>
<% end %>
